*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: black;
    width: 100%;
    height: 200vh;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.container {
    width: 100%;
    /*max-width:fit-content;*/
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgb(0,0,0,1)), url("pictures/other/background_picture_earth_sun3.jpg");
    background-size: cover;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    
}
.logo{
    width: 5%;
    cursor: pointer;
    border: 0;
    border-radius: 100px;
}
.menu-icon{
    width: 3%;
    cursor: pointer;
    margin-left: 10px;
}
nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size:15px;
}

.navbar ul li{
    position: relative;
}

.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: rgb(235, 49, 49);
    position: absolute;
    left:0;
    bottom: 0px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%
}

ul {
    list-style-type: none;
}

li {
    padding: 20px;
}

.whiteboard{
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: auto; 
    margin-right: auto;
    padding: 25px;
    max-width: 900px;
    border-radius: 70px;
    /*
    background-color: rgb(255,255,255,0.9);
    position: center;
    height: 100%;
    width: 50%;
    color: #fff;
    font-size: 18px;
    text-align: right;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 15px;
    border-radius: 15px;
    */
}
.whiteboard p{
    padding: 8px 20px;
    font-size: 15px;
}
.whiteboard h2{
    padding: 10px;
    font-size: 27px;
}

.whiteboard a {
    color: rgb(255,0,0);
  }
  
.whiteboard a:visited {
    color: rgb(255,0,0);
  }
  
.whiteboard a:hover {
    color: rgb(255,0,0);
  }
  
.whiteboard a:active {
    color: rgb(255,0,0);
  }

.inter_fig{
   display: flex;
   justify-content: center;
}